.section-services{
    padding-top: 151px;
    padding-bottom: 150px;
    background: #121212;
}

.section-services__title{
    color: #FFFFFF;
}

.section-services__services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 85px;
    padding-bottom: 106px;
}

.section-services__service-item {
    position: relative;
    width: calc(50% - 5px);
}

.service-img {
    max-width: 100%;
}

.section-services__service-item__dsc {
    padding-top: 25px;
    font-size: 30px;
    line-height: 41px;
    color: #FFFFFF;
}

.section-services__service-item__dsc_narrow {
    padding-top: 11px;
    font-size: 30px;
    line-height: 41px;
    color: #FFFFFF;
}

.section-services__service-item__price-label {
    position: absolute;
    top: 31px;
    left: 30px;
}

.section-services__service-item__price {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 26px 0 27px;
    font-size: 22px;
    line-height: 40px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFF;
    background: #AD1818;
}

.section-services__link {
    display: block;
    font-size: 30px;
    line-height: 153px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    color: #FFFFFF;
    background: #AD1818
}

@media (max-width: 1199px) {
    .section-services{
        padding-bottom: 120px;
    }
    
    .section-services__services-list {
        row-gap: 86px;
        padding-bottom: 80px;
    }
    
    .section-services__service-item {
        width: calc(50% - 4px);
    }
    
    .section-services__service-item__dsc {
        padding-top: 14px;
        font-size: 25px;
        line-height: 34px;
    }
    
    .section-services__service-item__price-label {
        left: 32px;
    }
    
    .section-services__service-item__price {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .section-services{
        padding-top: 77px;
        padding-bottom: 80px;
    }
    
    .section-services__services-list {
        row-gap: 65px;
        padding-bottom: 67px;
    }
    
    .section-services__service-item {
        width: 100%; 
    }

    .service-img {
        width: 100%;
    }
    
    .section-services__service-item__dsc {
        padding-top: 10px;
        font-size: 18px;
        line-height: 25px;
    }
    
    .section-services__service-item__dsc_narrow {
        padding-top: 10px;
        font-size: 18px;
        line-height: 25px;
    }

    .section-services__service-item__price-label {
        top: 24px;
        left: 22px;
    }
    
    .section-services__service-item__price {
        font-size: 14px;
        line-height: 30px;
    }
    
    .section-services__link {
        font-size: 22px;
        line-height: 100px;
    }
}