@import url('../styles/header.css');
@import url('../styles/section-about-us.css');
@import url('../styles/section-projects.css');
@import url('../styles/section-services.css');
@import url('../styles/section__room.css');
@import url('../styles/section-review.css');
@import url('../styles/section__white.css');
@import url('../styles/footer.css');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.container {
    margin: 0 auto;
    max-width: 1150px;
}

h1, h2, h3, a, p {
    letter-spacing: -0.03em;
} 

h2 {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
}


@media (max-width: 1199px) {
    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 767px) {
    .container {
        padding-left: 13px;
        padding-right: 12px;
    }

    h2 {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 19px;
    }
}
